<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
    <div class="col-md-4">
        <h1>Books</h1>
    </div>
    <div class="col-md-4" style="padding:20px 0">
        <p>Logged in as: <span sec:authentication="name"></span></p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-danger"/>
        </form>
    </div>

    <div style="padding:0 20px">
        <table class="table table-striped">
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>ISBN</th>
                <th>Year</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>  
            <tr th:each="book : ${books}">
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.publicationYear}"></td>
                <td th:text="${book.category.name}"></td>
                <td>
                    <a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-primary btn-sm">Edit</a>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        </table>
        <a href="/add" class="btn btn-primary">Add Book</a>

        <div th:if="${books.size() == 0}">
            <p>No books in the database ...</p>
        </div>
    </div>    
</div>
</body>
</html>
