<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add friend</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Add a New Friend</h1>

        <form action="/add" method="post">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required />
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required />
            <button type="submit">Add Friend</button>
        </form>
    </body>
</html>
