<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My friends</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>My friends</h1>

        <div th:if="${friends.size() > 0}">
            <h2>Name</h2>
            <div th:each="friend : ${friends}">
                <span th:text="${friend.firstName}">First Name</span>
                <span th:text="${friend.lastName}">Last Name</span>
            </div>
        </div>
        <div th:if="${friends.size() == 0}">
            <p>You have no friends.</p>
        </div>

        <h2>Add a new friend to list</h2>
        <form action="/friends" method="post">
            <label for="firstName">First name:</label>
            <input type="text" id="firstName" name="firstName" required />
            <label for="lastName">Last name:</label>
            <input type="text" id="lastName" name="lastName" required />
            <button type="submit">Add Friend</button>
        </form>

        <!-- <p><a th:href="@{/add}">Add Friend</a></p> {% endcomment %} -->
    </body>
</html>
